html {
  text-align: center;
}

body {
  background-color: white; 
}

.page {
  display: none;
}

.login-credentials {
  margin-bottom: 10
}

.left-button {
  position:relative
  bottom: 10;
  left:10;
  text-align: left;
  margin-right: 10;
  margin-left: 10;
}

.right-button {
  position:relative
  bottom: 10;
  right:10;
  text-align: right;
  margin-right: 10;
  margin-left: 10;
}