html {
  text-align: center;
}

header {
  background-color: #0970B9;
  color: white;
  font-style: helvetica;
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  background-color: white; 
}

.page {
  display: none;
}

.login-credentials {
  margin-bottom: 10
}

.left-button {
  position: absolute;
  bottom: 10;
  left:10;
  text-align: left;
  margin-right: 10;
  margin-left: 10;
}

.right-button {
  position: absolute;
  bottom: 10;
  right:10;
  text-align: right;
  margin-right: 10;
  margin-left: 10;
}